{
    "extends": [
      "stylelint-config-standard"
    ],
    "rules": {
      "no-duplicate-selectors": true,
      "rule-empty-line-before": null,
      "at-rule-empty-line-before": null,
      "declaration-empty-line-before": null,
      "comment-empty-line-before": null,
      "function-comma-space-after": null
    }
  }
