.ldgRing
  border 5px solid rgba(255,255,255,.1)
  border-right-color $defaultColor
  border-radius 50%
  animation ldgRing 1.2s linear infinite

@keyframes ldgRing
  100%
    transform rotate(360deg)
