vendors = official
$defaultColor = rgba(255, 61, 46,1);
$defaultColor = rgba(211,47,47, .90);
$ldgSize = 50px;

*
  box-sizing border-box

.loading
  width $ldgSize
  height $ldgSize
  margin 0 calc(30/2)
  text-indent 100%
