/*
 * ====================================================================
 *
 * Loading.css
 * Tiny loaders and spinners made with only css and one div
 * Version - 0.1.0
 * Author: Welkson Ramos
 * Source: https://github.com/welksonramos/loading.css
 *
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * ====================================================================
 */

@import "_base.styl"

@import "./_effects/*"
